<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/general/normalize.css">
    <link rel="stylesheet" href="../../static/styles/general/general.css">
    <link rel="stylesheet" href="../../static/styles/general/footer.css">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <footer th:fragment="footer">
        <div class="footer-content">
            <div>© Company name – Company sentence. Created by Figma</div>
            <div>It is a footer. 2024.</div>
        </div>
    </footer>
</body>
</html>