<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/general/normalize.css">
    <link rel="stylesheet" href="../../static/styles/general/general.css">
    <link rel="stylesheet" href="../../static/styles/general/header.css">
    <title>Document</title>
</head>
<body>
    <header th:fragment="header">
        <div class="header-content">
            <div class="logo">
                Logo
            </div>
            <div class="header-nav">
                <a class="create-project" href="#">Start new project</a>
                <a class="account" href="#">
                    <div class="account-name">Log in</div>
                </a>
            </div>
        </div>
    </header>
</body>
</html>