<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/normalize.css}" href="../static/styles/normalize.css">
    <link rel="stylesheet" th:href="@{/styles/header.css}" href="../static/styles/header.css">
    <title>Account</title>
    <style>
        .content {
            max-width: 1350px;
            margin: 32px auto;
            padding: 0 32px;
        }

        .account-details {
            display: flex;
            flex-direction: column;
            gap: 32px;

            margin: auto;
        }

        .membership {
            display: flex;
            justify-content: space-between;
        }

        .part{
            font-size: 22px;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/general.html :: header"></div>
    <div class="content">
        <div class="account-details" th:object="${user}">
            <h2 class="user-name" th:text="*{email}">User name</h2>
            <div class="membership">
                <a href="#" class="follows">
                    <span class="part">Follows</span>
                    <div th:text="*{subscribes.size()}"></div>
                </a>
                <a href="#" class="subscribes">
                    <span class="part">Subscribes</span>
                    <div th:text="*{investSubscribes.size()}"></div>
                </a>
                <a href="#" class="donations">
                    <span class="part">Donations</span>
                    <div th:text="*{singleInvests.size()}"></div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>