<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/general/header.css}">
    <link rel="stylesheet" th:href="@{/styles/general/normalize.css}">
    <link rel="stylesheet" th:href="@{/styles/general/general.css}">
    <link rel="stylesheet" th:href="@{/styles/general/filter.css}">
    <link rel="stylesheet" th:href="@{/styles/catalog/catalog.css}">
    <link rel="stylesheet" th:href="@{/styles/general/nav.css}">
    <link rel="stylesheet" th:href="@{/styles/general/footer.css}">
    <title>Catalog</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="content">
    <form class="filter" action="/" method="get">
        <div class="filter-categories">
            <span>Show me</span>
            <select name="c">
                <option value="" selected>All categories</option>
                <option value="some">Some1</option>
                <option value="some">Some2</option>
                <option value="some">Some3</option>
            </select>
            <span>projects on</span>
            <select name="b" id="base-on">
                <option value="" selected>Earth</option>
                <option value="some">Some</option>
                <option value="some">Some</option>
                <option value="some">Some</option>
            </select>
        </div>
        <div>
            <input type="search" name="s" placeholder="Search">
        </div>
    </form>
    <div class="main-content">
        <div class="content-nav">
            <a class="content-nav-section" th:href="@{/}">MAIN</a>
            <a class="content-nav-section" th:href="@{/catalog}">CATALOG</a>
        </div>
        <div class="projects-catalog">
            <div class="project" th:each="project : ${projects}" th:object="${project}">
                <a class="project-img" th:href="@{/catalog/{id}(id=*{id})}">

                </a>
                <div class="project-details">
                    <div class="project-title">
                        <div class="project-name">
                            <div th:text="*{name}"></div>
                            <span class="follow"></span>
                        </div>
                        <div class="project-invest">
                            <div class="project-author">
                                <div class="project-author-img">
                                    <img th:src="@{images/general/acc1.png}" alt="account">
                                </div>
                                <div class="project-author-name" th:text="|*{owner.name} *{owner.surname}|"></div>
                            </div>
                            <div class="project-invest-progress">
                                <div class="project-invest-progress-value">
                                    <span class="have" th:text="|$*{currentInvest}|"></span>
                                    <span class="delim">/</span>
                                    <span class="need" th:text="|$*{goalInvest}|"></span>
                                </div>
                                <div class="project-invest-progress-bar">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-description" th:text="*{description}"></div>
                    <div class="project-categories">
                        <div class="project-category" th:text="*{category}"></div>
                        <div class="project-category">Country, City</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>