<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/general/header.css}">
    <link rel="stylesheet" th:href="@{/styles/general/normalize.css}">
    <link rel="stylesheet" th:href="@{/styles/general/general.css}">
    <link rel="stylesheet" th:href="@{/styles/general/nav.css}">
    <link rel="stylesheet" th:href="@{/styles/project/project.css}">
    <link rel="stylesheet" th:href="@{/styles/general/footer.css}">
    <title>Project</title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="content" th:object="${project}">
    <div class="project-header">
        <div class="project-name" th:text="*{name}"></div>
        <div class="project-description" th:text="*{description}"></div>
    </div>
    <div class="project-details">
        <div class="project-img"></div>
        <div class="project-invest">
            <div class="content-nav">
                <a class="content-nav-section" th:href="@{/}">MAIN</a>
                <a class="content-nav-section" th:href="@{/catalog}">CATALOG</a>
                <a class="content-nav-section" th:href="@{#}" th:text="*{name}"></a>
            </div>
            <div class="project-invest-progress-bar">
                <div></div>
            </div>
            <div class="project-invest-info">
                <div class="project-invest-info-section">
                    <div class="project-invest-section-value" th:text="|$*{currentInvest}|"></div>
                    <div class="project-invest-section-name" th:text="|pledged of $*{goalInvest} goal|"></div>
                </div>
                <div class="project-invest-info-section">
                    <div class="project-invest-section-value">115</div>
                    <div class="project-invest-section-name">investors</div>
                </div>
                <div class="project-invest-info-section">
                    <div class="project-invest-section-value">7</div>
                    <div class="project-invest-section-name">days left</div>
                </div>
            </div>
            <div class="project-actions">
                <a href="#" class="project-action project-invest-action">Invest in this project</a>
                <a href="#" class="project-action project-follow-action">Follow</a>
            </div>
        </div>
    </div>
    <div class="project-nav">
        <div class="project-nav-sections">
            <a href="#" class="project-nav-section" current>Updates</a>
            <a href="#" class="project-nav-section">FAQ</a>
        </div>
        <div class="project-actions">
            <a href="#" class="project-action project-invest-action">Invest in this project</a>
            <a href="#" class="project-action project-follow-action">Follow</a>
        </div>
    </div>
    <div class="project-section">
        <div class="project-update" th:each="post : *{posts}" th:object="${post}">
            <div class="project-update-number" th:text="|UPDATE #*{order}|"></div>
            <div class="project-update-title">
                <div class="project-update-name" th:text="*{title}"></div>
                <div class="project-update-author">
                    <div class="project-update-author-img">
                        <img th:src="@{/images/general/acc1.png}" alt="account">
                    </div>
                    <div class="project-update-author-name"
                         th:text="|${project.owner.name} ${project.owner.surname}|"></div>
                </div>
            </div>
            <span class="delimiter"></span>
            <div class="project-update-description" th:text="*{content}"></div>
        </div>
        <div class="project-launches">
            <div class="project-launches-title">Project launches</div>
            <div class="project-launches-date" th:text="*{created}">11 March 2024</div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>