<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/general/header.css">
    <link rel="stylesheet" href="../static/styles/general/normalize.css">
    <link rel="stylesheet" href="../static/styles/general/general.css">
    <link rel="stylesheet" href="../static/styles/general/nav.css">
    <link rel="stylesheet" href="../static/styles/project/project-invest.css">
    <link rel="stylesheet" href="../static/styles/general/footer.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">Logo</div>
            <div class="header-nav">
                <a class="create-project" href="#">Start new project</a>
                <a class="account" href="#">
                    <div class="account-name">Log in</div>
                </a>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="project-header">
            <div class="project-name">Long name of project for two lines or not but yes project name</div>
            <div class="project-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae tempora ratione corrupti quisquam minus
                consectetur esse, facilis iste aperiam velit ea est dolor voluptatum, cumque non libero iure, cupiditate
                veniam?
            </div>
        </div>
        <div class="main-content">
            <div class="content-nav">
                <span>MAIN</span>
                <span>CATALOG</span>
                <span>PROJECT NAME</span>
                <span>INVEST VARIANTS</span>
            </div>
            <div class="invest-section-header">Select your type of investation</div>
            <div class="invest-section-main">
                <div class="invests">
                    <div class="invest">
                        <div class="invest-name">Tariff #1</div>
                        <div class="invest-about">
                            <div class="invest-price">
                                <span class="invest-price-value">Pledge $25</span>
                                <span class="invest-price-per">/ month</span>
                            </div>
                            <div class="invest-description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati debitis labore in
                                aut facere, distinctio provident animi corporis ratione deleniti natus esse adipisci
                                fugiat eius quas at quisquam sed dolorum.
                                Nemo deleniti, soluta incidunt maxime expedita, corporis eaque voluptates repudiandae
                                harum quidem et provident. Minima, dolorem earum expedita excepturi veritatis fuga. Quam
                                repudiandae deleniti aliquam ipsam, atque consequatur magni adipisci?
                            </div>
                            <div class="invest-features">
                                <div class="invest-features-title">INCLUDES:</div>
                                <ul class="invest-features-list">
                                    <li class="invest-feature">Feature 1</li>
                                    <li class="invest-feature">Feature 2</li>
                                    <li class="invest-feature">Feature 3</li>
                                    <li class="invest-feature">Feature 4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="invest-select">
                            <a href="#" class="select-tariff">Select this invest tariff</a>
                        </div>
                    </div>
                    <div class="invest">
                        <div class="invest-name">Tariff #1</div>
                        <div class="invest-about">
                            <div class="invest-price">
                                <span class="invest-price-value">Pledge $25</span>
                                <span class="invest-price-per">/ month</span>
                            </div>
                            <div class="invest-description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati debitis labore in
                                aut facere, distinctio provident animi corporis ratione deleniti natus esse adipisci
                                fugiat eius quas at quisquam sed dolorum.
                                Nemo deleniti, soluta incidunt maxime expedita, corporis eaque voluptates repudiandae
                                harum quidem et provident. Minima, dolorem earum expedita excepturi veritatis fuga. Quam
                                repudiandae deleniti aliquam ipsam, atque consequatur magni adipisci?
                            </div>
                            <div class="invest-features">
                                <div class="invest-features-title">INCLUDES:</div>
                                <ul class="invest-features-list">
                                    <li class="invest-feature">Feature 1</li>
                                    <li class="invest-feature">Feature 2</li>
                                    <li class="invest-feature">Feature 3</li>
                                    <li class="invest-feature">Feature 4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="invest-select">
                            <a href="#" class="select-tariff">Select this invest tariff</a>
                        </div>
                    </div>
                    <div class="invest">
                        <div class="invest-name">Tariff #1</div>
                        <div class="invest-about">
                            <div class="invest-price">
                                <span class="invest-price-value">Pledge $25</span>
                                <span class="invest-price-per">/ month</span>
                            </div>
                            <div class="invest-description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati debitis labore in
                                aut facere, distinctio provident animi corporis ratione deleniti natus esse adipisci
                                fugiat eius quas at quisquam sed dolorum.
                                Nemo deleniti, soluta incidunt maxime expedita, corporis eaque voluptates repudiandae
                                harum quidem et provident. Minima, dolorem earum expedita excepturi veritatis fuga. Quam
                                repudiandae deleniti aliquam ipsam, atque consequatur magni adipisci?
                            </div>
                            <div class="invest-features">
                                <div class="invest-features-title">INCLUDES:</div>
                                <ul class="invest-features-list">
                                    <li class="invest-feature">Feature 1</li>
                                    <li class="invest-feature">Feature 2</li>
                                    <li class="invest-feature">Feature 3</li>
                                    <li class="invest-feature">Feature 4</li>
                                </ul>
                            </div>
                        </div>
                        <div class="invest-select">
                            <a href="#" class="select-tariff">Select this invest tariff</a>
                        </div>
                    </div>
                </div>
                <div class="invest-warning">
                    <div class="invest-warning-title">Rewards aren’t garanteed</div>
                    <div class="invest-warning-content">
                        Your pledge will support an ambitious creative project that has yet to be developed. There’s a
                        risk that, despite a creator’s best efforts, your reward will not be fulfilled, and we urge you
                        to consider this risk prior to pledging. Kickstarter is not responsible for project claims or
                        reward fulfillment.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div>© Company name – Company sentence. Created by Figma</div>
            <div>It is a footer. 2024.</div>
        </div>
    </footer>
</body>

</html>